<section id="Contacts"  class="container" data-extend-template="/static/ngtpls/layout.html">
    <div data-block="nav">
        <navigation-frame navigation="[
            {'id': 'tech', 'title': 'Technologies'},
            {'id': 'team', 'title': 'Our Team'},
            {'id': 'projects', 'title': 'Projects'},
            {'id': 'index', 'title': 'Back Home'}
        ];"></navigation-frame>
    </div>


    <div class="tabscontent" data-block="tabs-content">
    <div class="flex-half">
        <form ng-submit="sendFromData()">

            <div>
                <input type="text" id="first_name" name="first_name" placeholder=" " ng-model="form.name"
                       ng-style="name" ng-change="fieldValidate(form.name, 'name')"/>
                <label for="first_name">Name</label>
            </div>

            <div>
                <input type="email" id="email" name="email" placeholder=" " ng-model="form.email"
                       ng-style="email" ng-change="fieldValidate(form.email, 'email')"/>
                <label for="email">Email</label>
            </div>

            <div class="textarea">
                <textarea name="message" placeholder="Say Hello =)" ng-model="form.message"
                          ng-style="message" ng-change="fieldValidate(form.message, 'message')"></textarea>
            </div>

            <input type="submit" value="Get In Touch" />

            <p ng-if="successMessage">{{ successMessage }}</p>
            <p ng-if="errorMessage">{{ errorMessage }}</p>

        </form>
    </div>
        <div class="flex-half">
            <div class="contact-social">
                <a target="_blank" href="https://www.behance.net/8Wizards"></a>
                <a target="_blank" href="https://www.linkedin.com/company/8wizards?trk=prof-following-company-logo"></a>
                <a target="_blank" href="https://twitter.com/8Wizards_com?lang=ru"></a>
                <a target="_blank" href="https://plus.google.com/u/0/113102796960218784626"></a>
                <a target="_blank" href="https://www.facebook.com/8wizards/?ref=aymt_homepage_panel"></a>
            </div>
            <span class="contact-email">info@8wizards.com</span>
            <span class="contact-phone">+1 (415) 83 03 83 9</span>
            <span class="contact-descr">Our talented team is made up of top-rated developers, designers, business experts, and marketers with successful working experience and exceptional competence, who always do their best to deliver the results our clients can be proud of!</span>
        </div>
    </div>
</section>