<div id="/static/ngtpls/layout.html">
    <header data-block="header">

        <h1 data-block="header" class="title-logo show-for-large">
            <a href="#/" title="8Wizards"></a>
        </h1>
        <h1 data-block="header" class="title-logo medium show-for-medium-only">
            <a href="#/" title="8Wizards"></a>
        </h1>
        <h1 data-block="header" class="title-logo small show-for-small-only">
            <a href="#/" title="8Wizards"></a>
        </h1>

        <navigation-mobile nav-options="pageIdent" toggle-id="'tabs-menu'"></navigation-mobile>

    </header>

    <div class="row content">

        <div data-block="tabs">
            <div sub-tabs class="button-group expanded sub-tabs hide-for-small-only" id="tabs-menu">
                <ul data-dropdown-menu>
                    <li class="button left" ng-click="activate($event)" id="{{ tabs[0].name }}">{{ tabs[0].publicName }}</li>
                    <li class="button" ng-click="activate($event)" id="{{ tabs[1].name }}">{{ tabs[1].publicName }}</li>
                    <li class="button right" ng-click="activate($event)" id="{{ tabs[2].name }}">{{ tabs[2].publicName }}</li>
                </ul>
            </div>
        </div>

        <div data-block="tabs-content"></div>

    </div>

    <div data-block="nav">

    </div>
    <footer data-block="footer">

    </footer>
</div>