<div id="/static/ngtpls/layout1.html">
    <header data-block="header">
        <h1 data-block="header" class="title-logo show-for-large">
            <a href="#/" title="8Wizards"></a>
        </h1>
        <h1 data-block="header" class="title-logo medium show-for-medium-only">
            <a href="#/" title="8Wizards"></a>
        </h1>
        <h1 data-block="header" class="title-logo small show-for-small-only">
            <a href="#/" title="8Wizards"></a>
        </h1>
        <navigation-mobile nav-options="[1,2,3,4,5]"></navigation-mobile>
    </header>



    <div data-block="content">
        <div sub-tabs class="button-group expanded sub-tabs" id="example-menu">
            <a class="button left active" rel="tech">Technologies</a>
            <a class="button" ng-click="activate($event)" rel="skills">Skills</a>
            <a class="button right" ng-click="activate($event)" rel="certificates">Certificates</a>
        </div>
    </div>

    <div data-block="nav">

    </div>
    <footer data-block="footer">

    </footer>
</div>