<div id="/static/ngtpls/layout.html" class="full-height">
    <header data-block="header">

        <h1 data-block="header" class="title-logo">
            <a href="#/" title="8Wizards"></a>
        </h1>

        <navigation-mobile></navigation-mobile>

        <div sub-tabs class="sub-tabs clearfix" data-block="tabs">
            <a ng-repeat="tab in tabs" class="button" ng-class="{active: selected == $index}" ng-click="activate($event)"
               rel="{{ tab.name }}">{{ tab.publicName }}</a>
        </div>

    </header>

    <div data-block="content" class="content">
        <div data-block="tabs"></div>
        <div data-block="tabs-content"></div>
    </div>

    <div data-block="nav"></div>

    <footer data-block="footer"></footer>

</div>