#Contacts .tabscontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 70vw;
}

#Contacts .tabscontent .flex-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35vh;
}

#Contacts .contact-email {
  margin-top: 40px;
  font-size: 20px;
  line-height: 25px;
  display: block;
  color: #fff;
}

#Contacts .contact-phone {
  color: #fff;
  margin: 15px 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 25px;
  display: block;
}

#Contacts .contact-descr {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  display: block;
}

#Contacts .contact-social {
  height: 50px;
  width: 100%;
}

#Contacts .contact-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  -webkit-background-size: cover;
  background-size: cover;
}

#Contacts .contact-social a:first-child {
  background-image: url("/static/img/social/be.svg");
}

#Contacts .contact-social a:nth-child(2) {
  background-image: url("/static/img/social/in.svg");
}

#Contacts .contact-social a:nth-child(3) {
  background-image: url("/static/img/social/twit.svg");
}

#Contacts .contact-social a:nth-child(4) {
  background-image: url("/static/img/social/google.svg");
}

#Contacts .contact-social a:last-child {
  background-image: url("/static/img/social/face.svg");
}

#Contacts .content {
  display: block;
}

#Contacts form {
  margin: 0 auto;
}

#Contacts form .textarea {
  width: 100%;
}

#Contacts form .textarea textarea {
  min-height: 200px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
}

#Contacts form .textarea textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

#Contacts form .textarea textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

#Contacts form .textarea textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

#Contacts form .textarea textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

#Contacts form > div {
  float: right;
  position: relative;
  background: transparent;
  width: 81%;
  margin-bottom: 20px;
}

#Contacts form > div > label {
  opacity: 1;
  text-align: center;
  color: blue;
  padding: 7px 0;
  font-weight: bold;
  position: absolute;
  width: 27%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: -23%;
  border-radius: 5px;
}

#Contacts form > div > input[type="text"],
#Contacts form > div > input[type="email"],
#Contacts form > div > input[type="password"] {
  border-radius: 0 5px 5px 0;
  width: 100%;
  margin: 0;
  background: transparent;
  color: #fff;
  height: auto;
  display: inline-block;
  border: 1px solid #fff;
  padding: 7px 20px 7px 30px;
}

#Contacts form > div > input[type="text"]:focus,
#Contacts form > div > input[type="email"]:focus,
#Contacts form > div > input[type="password"]:focus {
  outline: 0;
  background: transparent;
}

#Contacts form > div > input[type="text"]:focus + label,
#Contacts form > div > input[type="email"]:focus + label,
#Contacts form > div > input[type="password"]:focus + label {
  opacity: 1;
}

#Contacts form > div > input[type="text"]:valid,
#Contacts form > div > input[type="email"]:valid,
#Contacts form > div > input[type="password"]:valid {
  /*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 25px 7px;*/
}

#Contacts form > div > input[type="text"]:valid + label,
#Contacts form > div > input[type="email"]:valid + label,
#Contacts form > div > input[type="password"]:valid + label {
  opacity: 1;
}

#Contacts form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
#Contacts form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
#Contacts form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
  box-shadow: 0 0 5px red;
}

#Contacts form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
#Contacts form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
#Contacts form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 1;
}

#Contacts form input[type="submit"] {
  display: block;
  width: 100%;
  background: #fff;
  color: blue;
  border: 0;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
}

#Contacts .button {
  background-color: transparent;
  border-color: transparent;
}

#Contacts .button.active {
  color: blue;
  background-color: transparent;
}

#Contacts .button:hover:after {
  opacity: 0;
}

#Contacts .sub-tabs {
  width: 13%;
}

#Contacts .content {
  height: 58%;
}

#Contacts ul li .flex {
  margin-bottom: 25px !important;
}

#Contacts img {
  max-width: 164px !important;
}

#Contacts .flex-start {
  padding-top: 10%;
}

#Contacts .frame .frame-item a .icon {
  width: 4em;
  height: 4em;
}
