$default-animate-time: 0.2s;
$default-bouncing-size: 1.2rem;
$transition: cubic-bezier(.91,.8,.66,1.85);
$icon_size: 5rem;



.frame {
  position: static;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .frame-left {
    left: 0;
    top: 50vh;
    text-align: left;
    a {
      left:inherit;
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        left: $default-bouncing-size;
      }
    }
  }

  .frame-right {
    top: 50vh;
    right: 0;
    text-align: right;
    a {
      right: inherit;
      transition: all $default-animate-time $transition;
      .bouncer {
        right: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        right: $default-bouncing-size;
      }
    }
  }

  .frame-top {
    top: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        margin-top: $default-bouncing-size;
      }
    }
  }

  .frame-bottom {
    bottom: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        bottom: 0;
      }
      &:hover, &:active, &:focus {
        margin-bottom: $default-bouncing-size;
      }
    }
  }

  .frame-item {
    position: fixed;
    font-size: 1.65rem;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    letter-spacing: 0.09rem;

    a {
      position: relative;
      .icon {
        background-color: #fff;
        border-radius: 50%;
        display: block;
        width: $icon_size;
        height: $icon_size;
      }
      .frame-label {
        display: none;
        opacity: 0;
        transition: all $transition;
      }
      .bouncer {
        position: fixed;
      }
      &:hover, &:active, &:focus {
        .frame-label {
          opacity: 1;
        }
      }
    }
  }

  .frame-top, .frame-bottom {
      .icon {
        margin: $default-bouncing-size auto;
      }
  }

  .frame-right, .frame-left {
    .icon {
      margin: 0 $default-bouncing-size;
    }
  }

  .frame-vertical {
    margin-left: -$icon_size/2;
    a {
      display: inline-block;
      .bouncer {
        width: 100%;
        height: 0;
        transition: height $default-animate-time $transition;
      }
      &:hover, &:active, &:focus {
        .bouncer {
          height: $default-bouncing-size;
        }
      }
    }
  }

  .frame-horyzontal {
    a {
      .bouncer {
        transition: width $default-animate-time $transition;
        height: 100%;
        width: 0;
      }
      &:hover, &:active, &:focus {
         width: 5rem + $default-bouncing-size;
        .bouncer {
          width: $default-bouncing-size;
        }
      }
    }
  }
}