$default-animate-time: 0.5s;
$default-bouncing-size: 1.2rem;



.frame {
  position: static;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .frame-left {
    left: 0;
    top: 50vh;
    text-align: left;
    a {
      left:inherit;
      transition: all $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover {
        left: $default-bouncing-size;
      }
    }
  }

  .frame-right {
    top: 50vh;
    right: 0;
    text-align: right;
    a {
      right: inherit;
      transition: all $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      .bouncer {
        right: 0;
        top: 0;
      }
      &:hover {
        right: $default-bouncing-size;
      }
    }
  }

  .frame-top {
    top: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover {
        margin-top: $default-bouncing-size;
      }
    }
  }

  .frame-bottom {
    bottom: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      .bouncer {
        left: 0;
        bottom: 0;
      }
      &:hover {
        margin-bottom: $default-bouncing-size;
      }
    }
  }

  .frame-item {
    position: fixed;
    font-size: 1.65rem;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    letter-spacing: 0.09rem;

    a {
      position: relative;
      .icon {
        background-color: #fff;
        border-radius: 50%;
        display: block;
        width: 5rem;
        height: 5rem;
      }
      .frame-label {
        display: none;
        opacity: 0;
        transition: all $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      }
      .bouncer {
        position: fixed;
      }
      &:hover {
        .frame-label {
          opacity: 1;
        }
      }
    }
  }

  .frame-top, .frame-bottom {
      .icon {
        margin: $default-bouncing-size auto;
      }
  }

  .frame-right, .frame-left {
    .icon {
      margin: 0 $default-bouncing-size;
    }
  }

  .frame-vertical {
    a {
      display: inline-block;
      .bouncer {
        width: 100%;
        height: 0;
        transition: height $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
      }
      &:hover {
        .bouncer {
          height: $default-bouncing-size;
        }
      }
    }
  }

  .frame-horyzontal {
    a {
      .bouncer {
        transition: width $default-animate-time cubic-bezier(.91, .8, .54, 1.89);
        height: 100%;
        width: 0;
      }
      &:hover {
         width: 5rem + $default-bouncing-size;
        .bouncer {
          width: $default-bouncing-size;
        }
      }
    }
  }
}