navigation-mobile{
     @media screen and (max-width: 767px) {
    height: 55px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
.title-bar {
  background: transparent;
  position: absolute;
  right: 0;
  top: 9px;
  right: 10px;
  color: #fefefe;
  text-align: right;
  padding: 0;

}
}
