@import "../mixins";

$default-animate-time: 0.2s;
$default-bouncing-size: 1.2rem;
$transition: cubic-bezier(.91,.8,.66,1.85);
$icon_size: 5rem;


.frame-overlay {
  .overlay {
    position: fixed;
    transition: all 2.0*$default-animate-time $transition;
  }
  .left {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
  }
  .right {
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
  }
  .top {
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
  }
  .bottom {
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
  }
  .left.transition, .right.transition{
    width: 100%;
  }
  .top.transition, .bottom.transition{
    height: 100%;
  }
}

.frame {
  position: static;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .frame-left {
    left: 0;
    top: 50vh;
    text-align: left;
    a {
      left:inherit;
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        left: $default-bouncing-size;
      }
    }
  }

  .frame-right {
    top: 50vh;
    right: 0;
    text-align: right;
    a {
      right: inherit;
      transition: all $default-animate-time $transition;
      .bouncer {
        right: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        right: $default-bouncing-size;
      }
    }
  }

  .frame-top {
    top: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        top: 0;
      }
      &:hover, &:active, &:focus {
        margin-top: $default-bouncing-size;
      }
    }
  }

  .frame-bottom {
    bottom: 0;
    left: 50%;
    position: absolute;
    a {
      transition: all $default-animate-time $transition;
      .bouncer {
        left: 0;
        bottom: 0;
      }
      &:hover, &:active, &:focus {
        margin-bottom: $default-bouncing-size;
      }
    }
  }

  .frame-item {
    position: fixed;
    font-size: 1.15rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.09rem;
    @include prevent-highlight;
    a {
      position: relative;
      @include prevent-highlight;
      .icon {
        border-radius: 50%;
        display: block;
        width: $icon_size;
        height: $icon_size;
        background-size: 100% !important;
        @media screen and (max-width: 39.9375em) {
          width: 0.4*$icon_size;
          height: 0.4*$icon_size;
        }
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
          width: 0.5*$icon_size;
          height: 0.5*$icon_size;
        }
      }
      .frame-label {
        display: none;
        opacity: 0;
        transition: all $transition;
      }
      .bouncer {
        position: fixed;
      }
      &:hover, &:active, &:focus {
        @include prevent-highlight;
        .frame-label {
          opacity: 1;
        }
      }
    }
  }

  .frame-top, .frame-bottom {
      .icon {
        margin: $default-bouncing-size auto;
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
          margin-top: 0.5*$default-bouncing-size;
          margin-bottom: 0.5*$default-bouncing-size;
        }
        @media screen and (max-width: 39.9375em) {
          margin-top: 0.35*$default-bouncing-size;
          margin-bottom: 0.35*$default-bouncing-size;
        }
      }
  }

  .frame-right, .frame-left {
    .icon {
      margin: 0 $default-bouncing-size;
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-left: 0.5*$default-bouncing-size;
        margin-right: 0.5*$default-bouncing-size;
      }
      @media screen and (max-width: 39.9375em) {
         margin-right: 0.35*$default-bouncing-size;
        margin-left: 0.35*$default-bouncing-size;
      }
    }
  }

  .frame-vertical {
    margin-left: -$icon_size/2;
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      margin-left: -($icon_size/4.0);
    }
    @media screen and (max-width: 39.9375em) {
      margin-left: -($icon_size/5.0);
    }
    a {
      .bouncer {
        width: 100%;
        height: 0;
        transition: height $default-animate-time $transition;
      }
      &:hover, &:active, &:focus {
        .bouncer {
          height: $default-bouncing-size;
        }
      }
    }
  }

  .frame-horyzontal {
    a {
      .bouncer {
        transition: width $default-animate-time $transition;
        height: 100%;
        width: 0;
      }
      &:hover, &:active, &:focus {
         width: 5rem + $default-bouncing-size;
        .bouncer {
          width: $default-bouncing-size;
        }
      }
    }
  }
}