#Tech{
	.slider{
  display:block!important;
  max-width: 100%;
    	 @media screen and (min-width: 1024px) and (max-height: 720px){
    	 		img{
    	 			max-width: 290px;
    	 		}
    	 }
  .slide{
    display:block!important;

  }
}
}
#Skills{
    .content {
        @media screen and (max-width: 450px){
      display: block!important;
    }
  }
  .skills-wrap{
    width: 70%;
    margin: auto;
    @media screen and (max-width: 800px){
      width: 100%;
    }
    h2{
      font-size: 18px;
      li{
        font-size: 15px;
      }
    }
  }
}