$reset-color: #fff;
$font-stack: 100% 'Didact Gothic', sans-serif;

$index-color: #fff;
$projects-color: orange;
$contacts-color: purple;
$team-color: blue;
$tech-colors: pink;

$default-animate-time: 0.5s;
$default-bouncing-size: 1.2rem;
