$reset-color: #fff;
$font-stack: 100% 'Didact Gothic', sans-serif;

$neutral-color:  #404041;

$index-color: #fff;
$projects-color: #d16300;
$contacts-color: #820060;
$team-color: #009356;
$tech-color: #6600b5;

$unit_size: 2rem;