$reset-color: #fff;
$font-stack: 100% 'Didact Gothic', sans-serif;

$neutral-color:  #404041;

$index-color: #fff;
$projects-color: #d16300;
$contacts-color: #333;
$team-color: #339999;
$tech-color: #333399;

$unit_size: 2rem;
$border-radius-size: 0.5rem;