@import "variables";
@import "mixins";
@import "widgets/navigration-frame";

body {
  font: $font-stack;
  background-color: $reset-color;
}



.frame {
  .to_index {
      .icon {
        background: url("/static/img/icon.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $index-color;
      }
    }
    .to_projects {
      .icon {
        background: url("/static/img/icon.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $projects-color;
      }
    }
    .to_team {
      .icon {
        background: url("/static/img/icon.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $team-color;
      }
    }
    .to_tech {
      .icon {
        background: url("/static/img/icon.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $tech-colors;
      }
    }
    .to_contacts {
      .icon {
        background: url("/static/img/icon.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $contacts-color;
      }
    }
}

#Logo {
  margin: auto;
  position: absolute;
  left: 0;
  top: 50vh;
  width: 100%;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  transform: translateY(-50%) !important;

  a {
    background: url("/static/img/8wizards_logo.svg") center center no-repeat transparent;
    display: block;
    height: 25rem;
    margin: auto;
    position: relative;
    width: 25rem;
    background-size: 100%;
  }
}

#Index {
  background-color: $index-color;
  .frame {
    .icon {
      background-color: #414142;
    }
    .frame-label {
      color: #C5C5C5;
      text-decoration: none;
      position: relative;
      font-weight: bold;
      text-align: center;
    }
    .frame-right, .frame-left {
      .icon {
        display: inline-block;
        margin: 0 $default-bouncing-size+0.5rem;
      }
      .frame-label {
        top: -2rem;
      }
    }
    .frame-top, .frame-bottom {
      .icon {
        margin: $default-bouncing-size+0.5rem auto;
      }
    }
    .frame-top {
      margin-left: -3.8rem
    }
    .frame-bottom {
      margin-left: -3em;
    }
  }
}

#Projects {
  background-color: $projects-color;
}

#Contacts {
  background-color: $contacts-color;
}

#Tech {
  background-color: $tech-colors;
}

#Team {
  background-color: $team-color;
}
