@import "variables";
@import "mixins";
@import "components/navigration-frame";

body {
  font: $font-stack;
  background-color: $reset-color;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

// Prepare uniqueness per section
.frame {
    .to_index {
      .icon {
        background: url("/static/img/index_w.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $index-color;
      }
    }

    .to_projects {
      .icon {
        background: url("/static/img/works_w.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $projects-color;
      }
    }
    .to_team {
      .icon {
        background: url("/static/img/team_w.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $team-color;
      }
    }

    .to_tech {
      .icon {
        background: url("/static/img/technology_w.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $tech-color;
      }
    }

    .to_contacts {
      .icon {
        background: url("/static/img/get_in_touch_w.svg") left center no-repeat;
      }
      .bouncer {
        background-color: $contacts-color;
      }
    }

  .frame-overlay {
    .to_index {
       background-color: $index-color;
    }
    .to_contacts {
       background-color: $contacts-color;
    }
    .to_tech {
       background-color: $tech-color;

    }
    .to_team {
       background-color: $team-color;

    }
    .to_projects {
       background-color: $projects-color;
    }
  }
}

// Main Logo
.main-logo {
  margin: auto;
  position: absolute;
  left: 0;
  top: 50vh;
  width: 100%;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  transform: translateY(-50%) !important;

  a {
    background: url("/static/img/8wizards_logo.svg") center center no-repeat transparent;
    display: block;
    height: 13*$unit_size;
    margin: auto;
    position: relative;
    width: 13*$unit_size;
    background-size: 100%;
  }
  &.medium {
    a {
      height: 10*$unit_size;
      width: 10*$unit_size;
    }
  }
  &.small {
    a {
      height: 8*$unit_size;
      width: 8*$unit_size;
    }
  }
}


// Title Logo
.title-logo {
  margin: 2*$default-bouncing-size auto 0;
  position: absolute;
  left: 2*$default-bouncing-size;
  a {
    background: url("/static/img/logo_.svg") center center no-repeat transparent;
    display: block;
    height: $unit_size;
    margin: auto;
    position: relative;
    width: 5*$unit_size;
    background-size: 100%;
  }
  &.medium {
    margin: $default-bouncing-size auto 0;
    left: $default-bouncing-size;
    a {
      width: 4*$unit_size;
    }
  }
  &.small {
    margin: 0.85*$default-bouncing-size auto 0;
    left: 0.85*$default-bouncing-size;
    a {
      width: 3*$unit_size;
    }
  }
}

// Extend frame styles for main screen
#Index {
  background-color: $index-color;
  .frame {
    .frame-label {
      display: inline;
      color: #C5C5C5;
      text-decoration: none;
      position: relative;
      font-weight: bold;
      text-align: center;
    }
    .frame-right, .frame-left {
      .icon {
        display: inline-block;
        //margin: 0 $default-bouncing-size+0.5rem;
      }
      .frame-label {
        top: -$unit_size;
      }
    }
    .frame-top, .frame-bottom {
      .icon {
        //margin: $default-bouncing-size+0.5rem auto;
      }
    }
    .frame-top {
      margin-left: -2.6rem;
      @media screen and (max-width: 39.9375em) {
        margin-left: -1.5rem;
      }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-left: -1.8rem;
      }
    }
    .frame-bottom {
      margin-left: -3em;
      @media screen and (max-width: 39.9375em) {
        margin-left: -1.3rem;
      }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-left: -1.6rem;
      }
    }

    .to_index {
      .icon {
        background: url("/static/img/index.svg") left center no-repeat;
      }
    }

    .to_projects {
      .icon {
        background: url("/static/img/works.svg") left center no-repeat;
      }
    }
    .to_team {
      .icon {
        background: url("/static/img/team.svg") left center no-repeat;
      }

    }
    .to_tech {
      .icon {
        background: url("/static/img/technology.svg") left center no-repeat;
      }

    }
    .to_contacts {
      .icon {
        background: url("/static/img/get_in_touch.svg") left center no-repeat;
      }
    }
  }
}

#Projects {
  background-color: $projects-color;
}

#Contacts {
  background-color: $contacts-color;
}

#Tech {
  background-color: $tech-color;
}

#Team {
  background-color: $team-color;
}
