.frame-overlay .overlay {
  position: fixed;
  transition: all 0.4s cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame-overlay .left {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.frame-overlay .right {
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
}

.frame-overlay .top {
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
}

.frame-overlay .bottom {
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
}

.frame-overlay .left.transition, .frame-overlay .right.transition {
  width: 100%;
}

.frame-overlay .top.transition, .frame-overlay .bottom.transition {
  height: 100%;
}

.frame {
  position: static;
}

.frame ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.frame .frame-left {
  left: 0;
  top: 45vh;
  text-align: left;
}

.frame .frame-left a {
  left: inherit;
  transition: all 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame .frame-left a .bouncer {
  left: 0;
  top: 0;
}

.frame .frame-left a:hover, .frame .frame-left a:active, .frame .frame-left a:focus {
  left: 1.2rem;
}

.frame .frame-right {
  top: 45vh;
  right: 0;
  text-align: right;
}

.frame .frame-right a {
  right: inherit;
  transition: all 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame .frame-right a .bouncer {
  right: 0;
  top: 0;
}

.frame .frame-right a:hover, .frame .frame-right a:active, .frame .frame-right a:focus {
  right: 1.2rem;
}

.frame .frame-top {
  top: 0;
  left: 50%;
  position: absolute;
}

.frame .frame-top a {
  top: inherit;
  transition: all 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
  margin-top: inherit;
}

.frame .frame-top a .bouncer {
  left: 0;
  top: 0;
}

.frame .frame-top a:hover, .frame .frame-top a:active, .frame .frame-top a:focus {
  top: 1.2rem;
}

.frame .frame-bottom {
  bottom: 0;
  left: 50%;
  position: absolute;
}

.frame .frame-bottom a {
  bottom: inherit;
  transition: all 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame .frame-bottom a .bouncer {
  left: 0;
  bottom: 0;
}

.frame .frame-bottom a:hover, .frame .frame-bottom a:active, .frame .frame-bottom a:focus {
  bottom: 1.2rem;
}

.frame .frame-item {
  position: absolute;
  font-size: 1.15rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.09rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.frame .frame-item a {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.frame .frame-item a .icon {
  /*  border-radius: 50%;*/
  display: block;
  width: 5rem;
  height: 5rem;
  background-size: 100% !important;
}

@media screen and (max-width: 767px) {
  .frame .frame-item a .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .frame .frame-item a .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.frame .frame-item a .frame-label {
  display: none;
  opacity: 0;
  transition: all cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame .frame-item a .bouncer {
  position: fixed;
}

.frame .frame-item a:hover, .frame .frame-item a:active, .frame .frame-item a:focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.frame .frame-item a:hover .frame-label, .frame .frame-item a:active .frame-label, .frame .frame-item a:focus .frame-label {
  opacity: 1;
}

.frame .frame-top .icon, .frame .frame-bottom .icon {
  margin: 1.2rem auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .frame .frame-top .icon, .frame .frame-bottom .icon {
    margin-top: 0.84rem;
    margin-bottom: 0.84rem;
  }
}

@media screen and (max-width: 768px) {
  .frame .frame-top .icon, .frame .frame-bottom .icon {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

.frame .frame-right .icon, .frame .frame-left .icon {
  margin: 0 1.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .frame .frame-right .icon, .frame .frame-left .icon {
    margin-left: 0.84rem;
    margin-right: 0.84rem;
  }
}

@media screen and (max-width: 767px) {
  .frame .frame-right .icon, .frame .frame-left .icon {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
}

.frame .frame-vertical {
  margin-left: -2.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .frame .frame-vertical {
    margin-left: -1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .frame .frame-vertical {
    margin-left: -1rem;
  }
}

.frame .frame-vertical a .bouncer {
  width: 100%;
  height: 0;
  transition: height 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
}

.frame .frame-vertical a:hover .bouncer, .frame .frame-vertical a:active .bouncer, .frame .frame-vertical a:focus .bouncer {
  height: 1.2rem;
}

.frame .frame-horyzontal a .bouncer {
  transition: width 0.2s cubic-bezier(0.91, 0.8, 0.66, 1.85);
  height: 100%;
  width: 0;
}

.frame .frame-horyzontal a:hover, .frame .frame-horyzontal a:active, .frame .frame-horyzontal a:focus {
  width: 6.2rem;
}

.frame .frame-horyzontal a:hover .bouncer, .frame .frame-horyzontal a:active .bouncer, .frame .frame-horyzontal a:focus .bouncer {
  width: 1.2rem;
}

@media screen and (max-width: 767px) {
  navigation-mobile {
    height: 55px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

navigation-mobile .title-bar {
  background: transparent;
  position: absolute;
  right: 0;
  top: 9px;
  right: 10px;
  color: #fefefe;
  text-align: right;
  padding: 0;
}

#Projects .slider .slide {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: nowrap !important;
      -ms-flex-wrap: nowrap !important;
          flex-wrap: nowrap !important;
}

#Projects .slider .slide .rows-flex1 {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#Projects .slider .slide .rows-flex2 {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding-right: 30px;
}

@media screen and (max-width: 1024px) {
  #Projects .slider .slide {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #Projects .slider .slide img {
    max-width: 350px;
  }
  #Projects .slider .slide .rows-flex2 {
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 1024px) and (max-height: 720px) {
  #Projects .slider .slide .rows-flex1 {
    -webkit-flex-shrink: 5;
        -ms-flex-negative: 5;
            flex-shrink: 5;
  }
  #Projects .slider .slide .rows-flex2 {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  #Projects .slider .slide img {
    max-width: 100%;
  }
}

#Projects .slider .slide p {
  color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#Projects .slider .slide h3 {
  text-align: left;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
}

#Team {
  /* .frame{
      .frame-item{
        a{
          .icon{
            width: 4em;
            height: 4em;
          }
        }
      }
    }*/
}

#Team .slider {
  width: 60vw !important;
  margin: 0 auto !important;
  text-align: center !important;
  padding: 0 0 40px 0 !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-flex: auto !important;
      -ms-flex: auto !important;
          flex: auto !important;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
  background: transparent;
  height: auto !important;
}

@media screen and (max-width: 1150px) {
  #Team .slider {
    width: 70vw !important;
  }
}

@media screen and (max-width: 500px) {
  #Team .slider {
    width: 65vw !important;
  }
}

#Team .slider .slide {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex: auto !important;
      -ms-flex: auto !important;
          flex: auto !important;
  padding: 20px 0 0 0;
  width: 15vw !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  #Team .slider .slide {
    width: 17vw !important;
  }
}

@media screen and (max-width: 1000px) {
  #Team .slider .slide {
    width: 23.4vw !important;
  }
}

@media screen and (max-width: 740px) {
  #Team .slider .slide {
    width: 35vw !important;
  }
}

@media screen and (max-width: 500px) {
  #Team .slider .slide {
    width: 65vw !important;
    padding: 0 0 20px 0;
  }
}

#Team .flip-container {
  -webkit-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

#Team .flip-container:hover .flipper,
#Team .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#Team .flip-container, #Team .front, #Team .back {
  width: 164px;
  height: 163px;
}

#Team .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: transparent;
  position: relative;
}

#Team .front, #Team .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 7px;
  top: 0;
  right: 0;
}

#Team .back {
  padding: 8px 12px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #fff;
}

#Team .back span {
  color: #339999;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  display: block;
  margin-bottom: 5px;
}

#Team .back-name {
  font-size: 16px !important;
  font-weight: 600 !important;
}

#Team .back-social {
  width: 162px;
  position: absolute;
  bottom: 10px;
  left: 0px;
}

#Team .back-social img {
  max-width: 35px !important;
}

#Team .back-social div {
  display: inline-block;
  margin-right: 2px;
}

#Team img {
  max-width: 164px !important;
}

#Contacts .tabscontent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#Contacts .tabscontent .flex-half {
  width: 48%;
}

@media screen and (max-width: 770px) {
  #Contacts .tabscontent .flex-half {
    width: 100%;
  }
}

#Contacts .tabscontent .flex-half:last-child {
  width: 48%;
  margin-left: 4%;
}

@media screen and (max-width: 770px) {
  #Contacts .tabscontent .flex-half:last-child {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
}

@media screen and (max-width: 770px) {
  #Contacts span {
    text-align: center;
  }
}

#Contacts .contact-email {
  margin-top: 40px;
  font-size: 20px;
  line-height: 25px;
  display: block;
  color: #fff;
}

#Contacts .contact-phone {
  color: #fff;
  margin: 15px 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 25px;
  display: block;
}

#Contacts .contact-descr {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  display: block;
}

@media screen and (max-width: 770px) {
  #Contacts .contact-descr {
    font-size: 15px;
    line-height: 20px;
  }
}

#Contacts .contact-social {
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  #Contacts .contact-social {
    height: 38px;
    width: 268px;
  }
}

@media screen and (max-width: 770px) {
  #Contacts .contact-social {
    margin: 0 auto;
    height: 30px;
    width: 208px;
  }
}

#Contacts .contact-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-size: cover;
}

@media screen and (max-width: 1100px) {
  #Contacts .contact-social a {
    width: 38px;
    height: 38px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 400px) {
  #Contacts .contact-social a {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}

#Contacts .contact-social a:first-child {
  background-image: url("/static/img/social/be.svg");
}

#Contacts .contact-social a:nth-child(2) {
  background-image: url("/static/img/social/in.svg");
}

#Contacts .contact-social a:nth-child(3) {
  background-image: url("/static/img/social/twit.svg");
}

#Contacts .contact-social a:nth-child(4) {
  background-image: url("/static/img/social/google.svg");
}

#Contacts .contact-social a:last-child {
  background-image: url("/static/img/social/face.svg");
}

#Contacts form {
  margin: 0 auto;
}

#Contacts form .textarea {
  width: 100%;
}

#Contacts form .textarea textarea {
  min-height: 175px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
}

#Contacts form .textarea textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

#Contacts form .textarea textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

#Contacts form .textarea textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

#Contacts form .textarea textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

#Contacts form > div {
  float: right;
  position: relative;
  background: transparent;
  width: 81%;
  margin-bottom: 20px;
}

#Contacts form > div > label {
  opacity: 1;
  text-align: center;
  color: #333;
  padding: 7px 0;
  font-weight: bold;
  position: absolute;
  width: 27%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: -23%;
  border-radius: 5px;
}

@media screen and (max-width: 770px) {
  #Contacts form > div > label {
    font-size: 13px;
  }
}

#Contacts form > div > input[type="text"],
#Contacts form > div > input[type="email"],
#Contacts form > div > input[type="password"] {
  border-radius: 0 5px 5px 0;
  width: 100%;
  margin: 0;
  background: transparent;
  color: #fff;
  height: auto;
  display: inline-block;
  border: 1px solid #fff;
  padding: 7px 20px 7px 30px;
}

#Contacts form > div > input[type="text"]:focus,
#Contacts form > div > input[type="email"]:focus,
#Contacts form > div > input[type="password"]:focus {
  outline: 0;
  background: transparent;
}

#Contacts form > div > input[type="text"]:focus + label,
#Contacts form > div > input[type="email"]:focus + label,
#Contacts form > div > input[type="password"]:focus + label {
  opacity: 1;
}

#Contacts form > div > input[type="text"]:valid,
#Contacts form > div > input[type="email"]:valid,
#Contacts form > div > input[type="password"]:valid {
  /*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 25px 7px;*/
}

#Contacts form > div > input[type="text"]:valid + label,
#Contacts form > div > input[type="email"]:valid + label,
#Contacts form > div > input[type="password"]:valid + label {
  opacity: 1;
}

#Contacts form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
#Contacts form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
#Contacts form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
  box-shadow: 0 0 5px red;
}

#Contacts form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
#Contacts form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
#Contacts form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 1;
}

#Contacts form input[type="submit"] {
  display: block;
  width: 100%;
  background: #fff;
  color: #333;
  border: 0;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
}

#Contacts .button {
  background-color: transparent;
  border-color: transparent;
}

#Contacts .button.active {
  color: #333;
  background-color: transparent;
}

#Contacts .button:hover:after {
  opacity: 0;
}

#Contacts ul li .flex {
  margin-bottom: 25px !important;
}

#Contacts .sub-tabs {
  width: 14%;
}

.toggle-mnu {
  display: none;
  width: 28px;
  height: 28px;
  margin-top: 7px;
}

@media screen and (max-width: 767px) {
  .toggle-mnu {
    display: block;
  }
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}

.slick-dots {
  bottom: -5px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slider {
  width: 70vw !important;
  margin: 0 auto !important;
  text-align: center !important;
  padding: 0 0 40px 0 !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-flex: 1 100% !important;
      -ms-flex: 1 100% !important;
          flex: 1 100% !important;
  -webkit-flex-wrap: nowrap !important;
      -ms-flex-wrap: nowrap !important;
          flex-wrap: nowrap !important;
  background: transparent;
  height: auto !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider {
    width: 75vw !important;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    width: 65vw !important;
  }
}

.slider .slide {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex: 1 100% !important;
      -ms-flex: 1 100% !important;
          flex: 1 100% !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
  margin: 0 10px;
}

.slider img {
  display: block;
  margin: auto;
}

.full-height {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
  min-height: 550px;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 70%;
  margin: auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14% 0 9%;
}

@media screen and (min-width: 1366px) {
  .content {
    padding: 15% 0 11%;
  }
}

@media screen and (max-width: 1240px) {
  .content {
    padding: 15% 0 11%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 75%;
    padding: 21% 0 11%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: 65%;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .content {
    height: 80%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 330px) {
  .content {
    height: 77%;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.frame .to_index .icon {
  background: url("/static/img/index_w.svg") left center no-repeat;
}

.frame .to_index .bouncer {
  background-color: #fff;
}

.frame .to_projects .icon {
  background: url("/static/img/works_w.svg") left center no-repeat;
}

.frame .to_projects .bouncer {
  background-color: #d16300;
}

.frame .to_team .icon {
  background: url("/static/img/team_w.svg") left center no-repeat;
}

.frame .to_team .bouncer {
  background-color: #339999;
}

.frame .to_tech .icon {
  background: url("/static/img/technology_w.svg") left center no-repeat;
}

.frame .to_tech .bouncer {
  background-color: #333399;
}

.frame .to_contacts .icon {
  background: url("/static/img/get_in_touch_w.svg") left center no-repeat;
}

.frame .to_contacts .bouncer {
  background-color: #333;
}

.frame .frame-overlay .to_index {
  background-color: #fff;
}

.frame .frame-overlay .to_contacts {
  background-color: #333;
}

.frame .frame-overlay .to_tech {
  background-color: #333399;
}

.frame .frame-overlay .to_team {
  background-color: #339999;
}

.frame .frame-overlay .to_projects {
  background-color: #d16300;
}

.main-logo {
  margin: auto;
  position: absolute;
  left: 0;
  top: 50vh;
  width: 100%;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
      transform-origin: center bottom;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

.main-logo a {
  background: url("/static/img/8wizards_logo.svg") center center no-repeat transparent;
  display: block;
  height: 26rem;
  margin: auto;
  position: relative;
  width: 26rem;
  background-size: 100%;
}

.main-logo.medium a {
  height: 20rem;
  width: 20rem;
}

.main-logo.small a {
  height: 16rem;
  width: 16rem;
}

.title-logo {
  margin: 2.4rem auto 0;
  position: absolute;
  left: 2.4rem;
}

.title-logo a {
  background: url("/static/img/logo_.svg") center center no-repeat transparent;
  display: block;
  height: 2rem;
  margin: auto;
  position: relative;
  width: 10rem;
  background-size: 100%;
}

.title-logo.medium {
  margin: 1.2rem auto 0;
  left: 1.2rem;
}

.title-logo.medium a {
  width: 8rem;
}

.title-logo.small {
  margin: 0;
  left: 10px;
  top: 7px;
}

.title-logo.small a {
  width: 6rem;
}

.sub-tabs {
  position: absolute;
  top: 130px;
  margin: 0 !important;
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .sub-tabs {
    top: 85px;
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .sub-tabs {
    display: none;
    float: right;
    max-width: 295px;
    text-align: right;
    background-color: #1C242C;
    top: 60px;
    border-bottom: #111821 4px solid;
    border-top: #232D3B 4px solid;
    position: absolute;
    right: 10px;
    z-index: 2;
  }
}

@media screen and (min-width: 767px) {
  .sub-tabs {
    display: block !important;
  }
}

.sub-tabs .button {
  background: transparent;
  font-size: 1.7rem;
  padding: 0.4rem 1rem 0.5rem;
  margin: 0 !important;
  border: 0.1rem solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

@media screen and (max-width: 767px) {
  .sub-tabs .button {
    width: auto;
    display: block;
    border: 1px solid #fff !important;
    border-radius: 5px;
    margin: 20px !important;
  }
}

.sub-tabs .button:hover, .sub-tabs .button:focus, .sub-tabs .button:active {
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

.sub-tabs .button.active {
  background: #fff;
  color: transparent;
}

.sub-tabs .button.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 0;
}

.sub-tabs .button.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sub-tabs .button {
    font-size: 1.4rem;
    margin-top: 1rem !important;
    padding: 0.4em 1rem 0.5rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .sub-tabs .button {
    font-size: 1.3rem;
    margin-top: 1rem !important;
    padding: 0.4em 1rem 0.5rem;
  }
}

.tabscontent h3 {
  color: #fff;
  text-align: center;
}

.tabscontent p {
  color: #fff;
}

.tabscontent .row {
  margin: 0 auto !important;
}

#Index {
  background-color: #fff;
}

#Index .frame .frame-label {
  display: inline;
  color: #C5C5C5;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  text-align: center;
}

#Index .frame .frame-right .icon, #Index .frame .frame-left .icon {
  display: inline-block;
}

#Index .frame .frame-right .frame-label, #Index .frame .frame-left .frame-label {
  top: -2rem;
}

#Index .frame .frame-top {
  margin-left: -2.6rem;
}

@media screen and (max-width: 39.9375em) {
  #Index .frame .frame-top {
    margin-left: -1.05rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #Index .frame .frame-top {
    margin-left: -1.25rem;
  }
}

#Index .frame .frame-bottom {
  margin-left: -3em;
}

@media screen and (max-width: 39.9375em) {
  #Index .frame .frame-bottom {
    margin-left: -1rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #Index .frame .frame-bottom {
    margin-left: -1.2rem;
  }
}

#Index .frame .to_index .icon {
  background: url("/static/img/index.svg") left center no-repeat;
}

#Index .frame .to_projects .icon {
  background: url("/static/img/works.svg") left center no-repeat;
}

#Index .frame .to_team .icon {
  background: url("/static/img/team.svg") left center no-repeat;
}

#Index .frame .to_tech .icon {
  background: url("/static/img/technology.svg") left center no-repeat;
}

#Index .frame .to_contacts .icon {
  background: url("/static/img/get_in_touch.svg") left center no-repeat;
}

#Projects {
  background-color: #d16300;
}

#Projects .sub-tabs .button.active {
  color: #d16300;
}

#Contacts {
  background-color: #333;
}

#Contacts .sub-tabs .button.active {
  color: #333;
}

#Tech {
  background-color: #333399;
}

#Tech .sub-tabs .button.active {
  color: #333399;
}

#Team {
  background-color: #339999;
}

.orbit-bullets button {
  width: 0.8rem;
  height: 0.8rem;
}
